body {
    background-color:  black;
    color: white;
    font-size: 50px;
}

button {
    width: 80px;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    border: none;
    border-radius: 40px;
    outline: none;
    box-shadow: 4px 4px 2px #00303f;
    font-family: 'Squada One';
    color: white;
    background-color: #056571;
}

button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 4px 4px 2px black;
}

#btnEnter, #btnCE, #btnDot, #btnAdd, #btnSub, #btnMulti, #btnDiv, #btnAC {
    background-color: #af473c;
    box-shadow: 4px 4px 2px #6f2232;
    color: #d1e8e2;
}

#btnEnter:active, #btnCE:active, #btnDot:active, #btnAdd:active, #btnSub:active, 
#btnMulti:active, #btnDiv:active, #btnAC:active, #btnGithub:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 4px 4px 2px black;
}

#btnEnter {
    width: 190px;
}

#buttons {
    text-align: center;
}

#btnGithub {
    background-color: orange;
    box-shadow: 4px 4px 2px #af473c;
    color: black;
}

#input {
    text-align: center;
}

input {
    text-align: center;
    padding: 20px 50px;
    font-size: 80px;
    font-family: 'Squada One';
    background-color: black;
    color: white;
    border: none;
}